#container {
  width: 80%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "b1 b2 b3"
    "b4 b5 b5";
  /* write you css here for grid and default pattern of div's */
  gap: 20px;
  background-color: rgb(255, 253, 248);
}
#container > div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#container > div {
  /* write the code here */
  background-size: cover;
  background-position: center;
}
#box {
  width: 100%;
  height: 100%;
  display: grid;
}

/* write the code header for assigning background images and cover*/
#container > div:nth-child(1) {
  grid-area: b1;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*);
}
#container > div:nth-child(2) {
  grid-area: b2;
  background-image: url(https://cdn-prod.medicalnewstoday.com/content/images/articles/322/322868/golden-retriever-puppy.jpg);
}
#container > div:nth-child(3) {
  grid-area: b3;
  background-image: url(https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445);
}
#container > div:nth-child(4) {
  grid-area: b4;
  background-image: url(https://hips.hearstapps.com/ghk.h-cdn.co/assets/16/08/gettyimages-530330473.jpg?crop=0.659xw:0.990xh;0.123xw,0.00779xh&resize=980:*);
}
#container > div:nth-child(5) {
  grid-area: b5;
  background-image: url(https://image.petmd.com/files/styles/978x550/public/dog-allergies.jpg);
}

/* write media queries */
@media (max-width: 900px) {
  #container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "b5 b4 b3 b1"
      "b2 b2 . b1"
      "b2 b2 . b1";
  }
}
@media (max-width: 470px) {
  #container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "b5 b4 b3 b1"
      "b2 . . b1"
      "b2 . . b1";
  }
}
@media (max-width: 350px) {
  #container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "b5 b4 b4 b1"
      "b2 . . b1"
      "b2 b3 b3 b1";
  }
}
