#navbar {
	display: flex;
	position: fixed;
	z-index: 3;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0px 6vw;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid black; */
    background-color: #a0e9f8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	padding-right: 20px;
	border-right: 1px solid rgb(188, 188, 188);
}

#navbar a + span {
	color: #dd2e44;
}

#navbar > div > div:last-child a {
	padding: 0px;
	border: none;
}

#navbar > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	height: 100%;
}

#navbar > div > div {
	display: flex;
	align-items: center;

	height: 100%;
}

#navbar > div:first-child {
	display: flex;
	gap: 20px;
	align-items: center;
}

#navbar > div:first-child img {
	width: 40px;
	margin-top: -8px;
}

#navbar > div:first-child h3 {
	font-size: 20px;
	color: #dd2e44;
}

.active a{
    color: #dd2e44;
    text-decoration: underline;
    text-underline-offset: 3px;
}