body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.book-list{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  width: 100%;
  padding: 10px;
}
.book-list img{
  width: 100%;
}
.book-list>div{
  padding: 10px;
  border: 1px solid black;
}